name: Build Plugins and Publish to PyPI

on:
  workflow_dispatch:
    inputs:
      package:
        description: "Choose the package to publish"
        required: true
        type: choice
        options:
          - 'plugins/omnimd-browser-reader'
          - 'plugins/omnimd-freedium-reader'
          - 'plugins/omnimd-toutiao-reader'
          - 'plugins/omnimd-zhihu-reader'

jobs:
  omnimd-plugin-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Set up pip cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-${{ github.event.inputs.package }}-pip-${{ hashFiles('pyproject.toml') }}

      - name: Install Hatch
        run: |
          pip install -U hatch hatchling

      - name: Build and publish with Hatch
        env:
          HATCH_INDEX_USER: __token__
          HATCH_INDEX_AUTH: ${{ secrets.PYPI_TOKEN }}
        run: |
          cd "${{ github.event.inputs.package }}"
          hatch build --clean
          hatch publish --yes --no-prompt
